body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

#options button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

#timer {
    font-weight: bold;
    color: red;
}
